*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.main-wrapper{
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
}

.slider{
  height: 60%;
  width: 80%;
  background-color: red;
  position: relative;
}

.all-images{
  height: 100%;
}

.all-images img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hide{
  display: none;
}

.btn-arrow{
  width: 25px;
  height: 25px;
  background-color: lightgray;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
}

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 15px;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
}

.elements{
  height: 100%;
}

.btn-arrow:hover{
  cursor: pointer;
  background-color: gray;
  color: white;
}

div.item-description{
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: white;
  text-align: end;
  text-shadow: 2px 2px 2px black;
}

.my-thumbnails{
   /* background-color: violet; */
   height: 160px;
   border: 1px solid;
   flex-basis: 20%;
    height: 25%;
    display: flex;
    position: relative;
}

.my-thumbnails .my-thumbnail img{
  height: 100%;
  width: 100%;
}

